<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="poc.nosql.publishedodds"/>

    <mvc:annotation-driven/>

    <bean id="xmlViewer" class="org.springframework.web.servlet.view.xml.MarshallingView">
        <constructor-arg>
            <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
                <property name="classesToBeBound">
                    <list>
                        <value>poc.nosql.publishedodds.entities.Event</value>
                        <value>poc.nosql.publishedodds.entities.Book</value>
                        <value>poc.nosql.publishedodds.values.EventPopularityData</value>
                        <value>poc.nosql.publishedodds.values.EventsList</value>
                    </list>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver"/>

    <!--<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">-->
    <!--<property name="suffix" value=".ftl"/>-->
    <!--<property name="contentType" value="text/html"/>-->
    <!--<property name="exposeRequestAttributes" value="true"/>-->
    <!--<property name="exposePathVariables" value="true"/>-->
    <!--<property name="exposeSessionAttributes" value="true"/>-->
    <!--<property name="requestContextAttribute" value="request"/>-->
    <!--<property name="exposeSpringMacroHelpers" value="true"/>-->
    <!--</bean>-->
    <!---->
    <!--<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">-->
    <!--<property name="defaultEncoding" value="utf-8"/>-->
    <!--<property name="templateLoaderPath" value="/WEB-INF/web/"/>-->
    <!--</bean>-->
</beans>